html,
body {
  font-family: 'Raleway', sans-serif;
}

/*header*/
#header {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header h1 {
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#header div {
  color: #fff;
  font-size: 1.3rem;
  width: 600px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

#header #name-at-the-top {
  font-size: 40px;
}

.nav {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  border: 2px solid rgb(255, 255, 255);
  height: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  text-align: center;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  z-index: 2;
}

.nav:hover {
  background-color: rgb(0, 202, 175);
  border: 2px solid rgb(0, 202, 175);
}

.nav a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 550;
  font-size: 20px;
  transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}

.nav:hover a {
  color: #fff;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  #header div {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 480px) {
  #header h1 {
    font-size: 6vw;
  }

  #header div {
    width: 90%;
    margin: auto;
  }

  .nav a {
    font-size: 6vw;
  }
}

/*about*/
#about {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
}

@media screen and (max-width: 320px) {
  .section-title {
    font-size: 1.8rem;
  }
}

.about-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.about-top {
  width: 700px;
}

.self-intro {
  margin: auto;
  text-align: center;
}

.about-middle {
  width: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 35px;
}

.about-bottom {
  width: 760px;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 1fr 20px 1fr;
}

.skill-title {
  color: #7510f7;
}

.language {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.framework {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.database {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .about-top {
    width: 90%;
  }

  .about-middle {
    width: 100%;
  }

  .about-bottom {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .about-container {
    flex-grow: 1;
    height: auto;
  }

  .about-top {
    width: 90%;
    margin: auto;
  }

  .about-middle {
    width: 100%;
    margin-bottom: 30px;
  }

  .about-bottom {
    width: 90%;
    display: block;
    margin: auto;
  }

  .tech {
    margin: 30px auto 30px;
  }
}

/*professional*/

#professional-top-container {
  background-color: #7510f7;
  color: #fff;
  padding: 7rem;
  padding-bottom: 200px;
}

@media screen and (max-width: 480px) {
  #professional-top-container {
    padding: 3rem 0 150px;
  }
}

#professional-bottom-container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

#professional-bottom-inside-container {
  transform: translateY(-150px);
  width: 90%;
  margin: auto;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

@media screen and (max-width: 480px) {
  #professional-bottom-inside-container {
    transform: translateY(-100px);
  }
}

@media screen and (max-width: 540px) {
  #professional-bottom-inside-container {
    display: block;
  }
}

.each-profesional {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #e6ecf8;
  color: #141c3a;
  cursor: pointer;
}

@media screen and (max-width: 540px) {
  .each-profesional {
    width: 90%;
    margin: 10px auto 10px;
  }
}

.each-profesional:hover {
  text-decoration: none;
  color: #141c3a;
}

.link {
  color: #7510f7;
  padding-top: 1.5rem;
  overflow-wrap: break-word;
}

/*personal*/
#work {
  background: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.filter-container {
  width: 650px;
  margin: 50px auto 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.filter {
  width: 150px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  text-align: center;
  color: #616161;
  border: none;
  background: #f5f5f5;
  cursor: pointer;
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
}

.active {
  background: rgb(255, 38, 110);
  color: #fff;
}

/*react*/
#react {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  /* grid-template-rows: 1fr 10px 1fr; */
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 5s ease-in-out;
  -moz-transition: all 5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  animation-duration: 0.25s;
}

#shiritori {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background: linear-gradient(45deg, #2773ff, #dd31ff);
}

#formation {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background: linear-gradient(45deg, #2773ff, #dd31ff);
}

#question-selector {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  background: linear-gradient(45deg, #2773ff, #dd31ff);
}

#news {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background: linear-gradient(45deg, #2773ff, #dd31ff);
}

/*php*/
#php {
  display: none;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 1fr;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  animation-duration: 0.25s;
}

#booking {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background: linear-gradient(45deg, #ffc14f, #ff2727);
}

#japanese {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background: linear-gradient(45deg, #ffc14f, #ff2727);
}

#dojo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background: linear-gradient(45deg, #ffc14f, #ff2727);
}

#recipe {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
  background: linear-gradient(45deg, #ffc14f, #ff2727);
}

#todo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  background: linear-gradient(45deg, #ffc14f, #ff2727);
}

/*js*/
#js {
  display: none;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 1fr;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  animation-duration: 0.25s;
}

#cardgame {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background: linear-gradient(45deg, #42ff42ee, #2672ff);
}

#study-app {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background: linear-gradient(45deg, #42ff42ee, #2672ff);
}

/*each project*/
.each-project {
  height: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}

.each-project:hover .no-hover {
  opacity: 0;
}

.each-project:hover .hover {
  opacity: 1;
}

.no-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 1;
  text-align: center;
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
}

.no-hover-content,
.hover-content {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.no-hover-content div {
  width: 80%;
}

.hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141c3a;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.45s ease-in-out;
  -webkit-transition: all 0.45s ease-in-out;
  -moz-transition: all 0.45s ease-in-out;
  -o-transition: all 0.45s ease-in-out;
  -ms-transition: all 0.45s ease-in-out;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

.each-title {
  width: 200px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#react .each-title {
  border: solid 2px #7510f7;
}

#php .each-title {
  border: solid 2px rgb(255, 123, 0);
}

#js .each-title {
  border: solid 2px rgb(34, 203, 255);
}

.each-title a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  text-decoration: none;
  color: #fff;
}

#react .each-title:hover {
  background-color: #7510f7;
}

#php .each-title:hover {
  background-color: rgb(255, 123, 0);
}

#js .each-title:hover {
  background-color: rgb(34, 203, 255);
}

@media screen and (min-width: 541px) and (max-width: 786px) {
  .filter-container {
    width: 100%;
    max-width: 650px;
  }
}

@media screen and (max-width: 540px) {
  .filter-container {
    width: 100%;
  }

  .filter {
    width: 30%;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
  }

  #react {
    display: block;
    height: auto;
  }

  #react .each-project,
  #php .each-project,
  #js .each-project {
    width: 100%;
    margin: 15px auto;
    height: 200px;
  }

  .no-hover-content h2 {
    font-size: 1.5rem;
  }
}

/*contact*/
#contact {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #252934;
}

#contact .section-title {
  height: 50px;
  color: #fff;
}

.contact-me {
  text-align: center;
  color: rgb(68, 155, 255);
}

#form {
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input:focus,
textarea:focus {
  outline: none;
}

#name {
  width: 100%;
  background-color: #1e242c;
  color: #fff;
  border: 0;
  margin-bottom: 3px;
}

#email {
  width: 100%;
  background-color: #1e242c;
  color: #fff;
  border: 0;
  margin-bottom: 3px;
}

#message {
  display: block;
  width: 100%;
  height: 250px;
  background-color: #1e242c;
  color: #fff;
  border: 0;
  margin-bottom: 3px;
}

#submit {
  display: block;
  width: 150px;
  height: 40px;
  margin-top: 15px;
  background-color: transparent;
  color: #fff;
  border: solid 2px #fff;
  transition: all 0.3s ease-in-out;
  border-radius: 18px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

#submit:hover {
  border: solid 2px rgb(68, 155, 255);
  background-color: rgb(68, 155, 255);
}

/*style for auto filling*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 0;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #1e242c inset;
  transition: background-color 5000s ease-in-out 0s;
}

/*after sending email*/
.sent {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sent p {
  width: 100%;
  max-width: 600px;
  color: #141c3a;
  text-align: center;
  font-size: 1.5rem;
}

.sent div {
  width: 300px;
  height: 50px;
}

.sent div a {
  display: block;
  width: 300px;
  height: 50px;
  line-height: 50px;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #141c3a;
}

@media screen and (max-width: 480px) {
  .sent p {
    font-size: 2rem;
  }

  .sent div {
    width: 500px;
    height: 60px;
  }

  .sent div a {
    width: 500px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
  }
}
